:root {
  --black :#2D2D2D;
  --orange: #F9A620;
  --red: #F34213;
  --bg: #FFFFFF;
  --light-grey: #EAEAEA;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

a:hover {
  text-decoration: none;
}

ul {
  padding: 0;
}
body,section{
  overflow-x: hidden;
  background: var(--bg);
}
.header {
  background: var(--bg);
  background-image: url("../img/orange-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 150px;

}
.header__logo {
  padding-top: 38px;
}


.header__head {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 42px;
  line-height: 55px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg);
  margin-top: 160px;
}

.header__text {
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: var(--bg);
  margin-top: 40px;
}

.header__form {
  margin-top: 60px;
  padding: 0;
}

.iti{
  width: 100%;
  margin-bottom: 20px;
}
.iti__country-list {
  max-width: 250px;
  overflow-x: hidden;
  
}
.iti__country-list{
  max-width: 400px;
  top: 60px;
}
#phone-1,
#phone-2,
#phone-3{
  padding-left: 50px;
}
.iti--allow-dropdown .iti__flag-container {
  left: 0px;
}
label{
  position: relative;
  width: 100%;
  margin-bottom: 0px;
}
#valid-msg-1,
#valid-msg-2, 
#valid-msg-3{
  position: absolute;
  right: 10px;
  top: 27px;
  font-size: 12px;
  color: #FFFFFF;
}
#error-msg-1,
#error-msg-2,
#error-msg-3 {
  color: #FFFFFF;
}
#valid-msg-1,
#valid-msg-2,
#valid-msg-3 {
  color: #00C900;
}

.hide {
  display: none;
}

.msg-help-1,
.msg-help-2,
.msg-help-3{
  font-size: 14px;
  position: relative;
  top: -10px;
  text-align: center;
  color: #FFFFFF;
}  
.msg {
  color: #FFFFFF
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 463px;
  height: 500px;
  background: var(--black);
  box-shadow: -10px 10px 40px rgba(67, 67, 67, 0.1);
  padding-top: 45px;
  padding-bottom: 45px;
  margin-bottom: -30px;
}


.form h4 {
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--bg);
  margin-bottom: 30px;
}

.form label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form__input {
  background: #FFFFFF;
  box-shadow: -10px 10px 40px rgba(67, 67, 67, 0.1);
  margin-bottom: 15px;
  padding-left: 45px;
  width: 366px;
  height: 70px;
}

.form-control{
  margin-bottom: 15px;
}

.form__input::placeholder {
  font-family: "Roboto",sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #CCCCCC;
}

.form__input:last-child::placeholder {
  padding-left: 0;
}

.form__button {
  width: 366px;
  height: 70px;
  background: var(--red);
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: var(--bg);
  border: none;
  border-radius: 5px;
  padding: 21px 27px;
  transition: 0.4s;
  margin-top: 20px;
}
button span img{
  width: 20px;
  height: 20px;
}
.section-1 {
  margin-top: 100px;
}
.section-1__header {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
  
}

.section-1__item {
  display: flex;
  flex-direction: column;
}

.section-1__item div {
  border-bottom: 1px solid var(--light-grey);
}

.section-1__item div span {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  color: var(--light-grey);
  margin-bottom: 5px;
}

.section-1__item p {
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #2D2D2D;
  margin-top: 5px;
}

.orange-text {
  color: var(--orange) !important;
}

.section-2 {
  margin-top: 80px;
}

.section-2__carousel {
  margin-left: -235px;
}
.section-2__info {
  background: var(--orange);
  position: absolute;
  left: 575px;
  margin-top: 130px;
  margin-bottom: 90px;
  padding-top: 68px;
  padding-bottom: 68px;
  padding-left: 120px;
}
.section-2__info h2 {
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg);
}

.section-2__info p {
  font-family: "Roboto",sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.section-3 {
  background: var(--black);
  margin-top: 40px;
}

.section-3__info h2{
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg);
  margin-top: 112px;
}

.section-3__info p {
  font-family: "Roboto" ,sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: var(--bg);
  margin-top: 20px;
  margin-bottom: 0;
}

.book-bg {
  display: flex;
  align-items: center;
}

.book-bg p {
  font-family: "Roboto" ,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 0; 
  background-color: var(--orange);
  margin-left: -245px;
  margin-right: -118px;
  padding-left: 245px;
  padding-right: 126px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.form-footer {
  margin-top: 65px;
}

.footer {
  background: var(--black);
  border-top: 1px solid rgba(234, 234, 234, 0.4);;
 }

 .footer-logo {
   margin-top: 30px;
 }
 .footer__info {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-top: 20px;
 }

 .footer__text {
  font-family: "Lato" ,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
 }
 .footer__info a {
   display: flex;
   align-items: center;
 }

 .footer__info a span {
  background: var(--bg);
  padding: 2px 26px;
  border-radius: 5px;
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #606060;
 }

 .footer__info a img {
  margin-right: 13px;
 }

 .line {
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-top: 23px;
  margin-bottom: 10px;
 }

 .footer__rights {
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 200%;
  color: rgba(255, 255, 255, 0.7);
 }

 .footer__politics {
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 200%;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.7);
  text-align: end;
 }